.list-item {
    padding: 5px 10px;
    color: white;
    margin-left: -40px;
}

.list-item:hover {
    border: solid #464649;
    border-radius: 5px;
    background-color: #464649;
}

.list-item a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.list-item a:hover {
    color: #a970ff;
}