.list-item {
    padding: 5px 10px;
    color: white;
    margin-left: -40px;
}

.list-item a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.list-item a:hover {
    color: #a970ff;
}