.games-search-form {
    display: table-cell;
    width: 60%;
}

.search-field {
    background-color: #464649;
    border: 2px solid #464649;
    border-radius: 10px;
    padding: 8px;
    font-size: 15px;
    color: white;
    width: 94%;
}

.search-field:hover {
    outline: none;
    border: 2px solid #aeaeb0;
    color: white;
}

.search-field:focus {
    outline: none;
    border: 2px solid #a970ff;
    color: white;
}