.comment {
    background-color: #222222;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    min-width: 200px;
    margin-left: 25%;
    width: 50%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 1);
}

.comment span {
    font-weight: bold;
}

.comment p {
    margin: 3px;
}