.comment {
    background-color: #3d3d3d;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
}

.comment span {
    font-weight: bold;
}

.comment p {
    margin: 3px;
}