.games-section {
    position: relative;
    display: inline-block;
    text-align: center;
}

.games-container {
    text-align: center;
    max-width: 1250px;
}

.games-nav-container {
    padding: 10px;
    display: inline-table;
}