.add-genre-field {
    background-color: #464649;
    border: 2px solid #464649;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    font-size: 15px;
    color: white;
    width: 50%;
}

.add-genre-field:hover {
    outline: none;
    border: 2px solid #aeaeb0;
    color: white;
}

.add-genre-field:focus {
    outline: none;
    border: 2px solid #a970ff;
    color: white;
}

.add-genre-button {
    background-color: #464649;
    border: 3px solid #464649;
    border-radius: 10px;
    color: white;
    margin: auto;
    margin-top: 10px;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
}

.add-genre-button:hover {
    color: #a970ff;
}