.followed-games-container {
    text-align: left;
    padding-left: 20px;
}

.followed-games-list {
    list-style-type: none;
    padding: 0px;
}

.followed-games-list a {
    color: white;
    text-decoration: none;
}

.followed-games-list a:hover {
    color: #a970ff;
}

@media screen and (max-width: 940px) {
    .followed-games-list {
        display: none;
    }
}