.logo {
    position: relative;
    float: left;
    padding: 4px;
    padding-left: 8px;
}

.logo .img-top {
    position: absolute;
    display: none;
    padding: 4px;
    padding-left: 8px;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo:hover .img-top {
    display: inline;
}