.genres-section {
    position: relative;
    display: inline-block;
    text-align: center;
}

.genres-container {
    text-align: center;
    max-width: 1250px;
}

.genres-nav-container {
    padding: 10px;
    display: inline-table;
}

.genres-button-div {
    background-color: #464649;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.genres-redirect-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.genres-redirect-link:hover {
    color: #a970ff;
}

.genres-search-form {
    display: table-cell;
    width: 60%;
}

.search-field {
    background-color: #464649;
    border: 2px solid #464649;
    border-radius: 10px;
    padding: 8px;
    font-size: 15px;
    color: white;
    width: 94%;
}

.search-field:hover {
    outline: none;
    border: 2px solid #aeaeb0;
    color: white;
}

.search-field:focus {
    outline: none;
    border: 2px solid #a970ff;
    color: white;
}

@media screen and (max-width: 1000px) {
    .genres-button-div {
        display: none;
    }
}