.dropdown {
    position: relative;
    display: block;
    float: right;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dots {
    display: table-cell;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.dots:hover {
    text-decoration: none;
    color: #a970ff;
}

@media screen and (max-width: 200px) {
    .dropdown {
        display: none;
    }
}