nav {
    position: fixed;
    display: flex;
    width: 100%;
    min-width: 360px;
    height: 50px;
    background-color: #18181b;
    font-family: 'Verdana';
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 1);
    z-index: 98;
}

nav section:nth-child(1) {
    text-align: left;
    margin: 0px;
    width: 63%;
}

nav section:nth-child(2) {
    text-align: right;
    margin: 0px;
    width: 37%;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 12px 0px 12px;
}

li i:hover {
    color: #a970ff;
}

span {
    display: inline-block;
    color: white;
    padding: 0px 8px 0px 0px;
    text-overflow: ellipsis;
}

.left-list a {
    border-right: 1px solid #aeaeb0;
}

.right-list a {
    border-left: 1px solid #aeaeb0;
}

#games-icon, #genres-icon, #devs-icon, #dropdown {
    display: none;
}

/** DROPDOWN MENU  **/

#dropdown {
    position: relative;
}

#dropdown h3 {
    color: white;
    margin: 0px;
    padding: 8px;
}

#dropdown span {
    padding: 10px;
}

#dropdown a {
    margin: 0px;
    padding: 8px;
    display: block;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #222222;
    border-radius: 10px;
    padding: 0px 12px 0px 12px;
    width: 180px;
    right: 0px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 1);
}

.dropdown-btn {
    padding: 0px 12px 0px 12px;
    margin: 0px;
}

.dropdown-btn:hover {
    color: #a970ff;
}

#dropdown:hover .dropdown-content {
    display: block;
}

/** MEDIA QUERIES **/

@media screen and (max-width: 1150px) {
    nav section:nth-child(2) {
        width: 0%;
    }
    nav section:nth-child(1) {
        width: 100%;
        text-align: center;
    }
    #dropdown {
        display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    #add-devs, #add-genres, #add-games {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #devs-text, #genres-text, #games-text {
        display: none;
    }
    #devs-icon, #genres-icon, #games-icon {
        display: inline-block;
    }
}