.invalid-page-div {
    color: white;
}

.invalid-page-div h2 {
    display: block;
    color: white;
}

.invalid-page-div h1 {
    display: block;
    color: white;
}

.invalid-page-div a {
    display: block;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.invalid-page-div a:hover {
    color: #a970ff;
}