.sidebar {
    position: fixed;
    float: left;
    background-color: #2a2a2c;
    color: white;
    width: 250px;
    height: 100%;
    padding-top: 50px;
    z-index: 98;
}

@media screen and (max-width: 940px) {
    .sidebar {
        width: 50px;
    }
}