button {
    background: #464649;
    border: 2px solid #464649;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px;
    margin: 8px;
}

button:hover {
    color: #a970ff;
}

button:focus {
    outline: none;
}

.icon-btn {
    border: none;
    background: transparent;
    border-radius: 0px;
}

.icon-btn:hover {
    color: lightgreen;
}

.icon-btn:focus {
    outline: none;
}

#upvote::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: lightgreen;
    margin-top: 3px;
    transition: width 5s;
}

#upvote:disabled::after {
    width: 100%;
}

#upvote:disabled {
    color: #464649;
}